body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); /* You can adjust the colors here */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adjust the opacity and color if needed */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
